::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #e2e5e9;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}
